.setUpHeader {
    height: 0.5rem;
    @include flexbox();
    @include flex-direction();
    @include justify-content(space-between);
    @include align-items();
    @include border-bottom(3px, #8bd87a, solid);
    font-weight: bold;
    font-size: 0.18rem;
    padding: 0 0.1rem;
}

.setUpContent {
    ul {
        li {
            @include flexbox();
            @include flex-direction();
            @include border-bottom(1px, #999, solid);
            @include justify-content(space-between);
            padding: 0 0.01rem 0 0.2rem;
            line-height: 0.4rem;
            background: #fff;
        }
        li:nth-child(2n-1) {
            margin-top: 0.1rem;
        }
    }
}
.setUpFooter{
    height: .4rem;
    line-height: .4rem;
    text-align: center;
    background: #fff;
    color: #fe731b;
    font-size: 0.16rem;
}
